In [5]:
e,o=0,0
for i in range(1,101):
    if i%2==0:
        e+=1
    else:
        o+=1
print("No. of evens = ",e)
print("No. of odds = ",o)

No. of evens =  50
No. of odds =  50

In [10]:
c=0
for x in range(100,10000):
    if (x%5==0 and x%7==0) or x%35==0:
        c+=1
print("No. of no.s divisible by 5 and 7 = ",c)

No. of no.s divisible by 5 and 7 =  283

In [7]:
no = int(input("Enter the no.: "))
for x in range(2,(no//2)+1):
    if no%x==0:
        print(x , end=" ")

2 4 5 10

In [18]:
s= int(input("Enter the starting no.: "))
e= int(input("Enter the ending no.: "))
c=(e-s)+1
print(c)
for x in range(s,e+1):
    if x<3:
        c-=1
        continue
    for i in range(2,(x//2)+1):
        if x%i==0:
            c-=1
            break
print("No. of prime no.s in range = ",c)

7
No. of prime no.s in range =  3

In [1]:
no = int(input("Enter the no.: "))
a=0
while no>0:
    a+=1
    no=no//10
print(a)

3

In [ ]:
username=input("enter username: ")
counter=0
while True:
    counter+=1
    if username=="l@633":
        print("Welcome", username)
        break
    elif counter!=3:
        print("Invalid")
    else:
        print("Wait for 30 min")
        counter=0

Welcome

In [7]:
i=1
while (i<5):
    print(i)
    i+=1
else:
    print("Hi")

1
2
3
4
Hi

In [8]:
i=1
while (i<5):
    print(i)
    i+=1
    if i==3:
        break
else:
    print("Hi")

1
2

In [9]:
else:
    print("hi")

SyntaxError: invalid syntax (71506038.py, line 1)

In [28]:
l=[3,2,1,'hello',67.3]
print(l)
print(l[4])
print(l[-1])
del(l[2])
l.append(900)
l.insert(2,2)
print(l)
print(l[2])
print(l[1])
print(id(l[1]))
print(id(l[2]))
print(l)
print(type(l))

[3, 2, 1, 'hello', 67.3]
67.3
67.3
[3, 2, 2, 'hello', 67.3, 900]
2
2
140727612021208
140727612021208
[3, 2, 2, 'hello', 67.3, 900]
<class 'list'>

In [29]:
l.insert(1000,"lol")
l

[3, 2, 2, 'hello', 67.3, 900, 'lol']

In [35]:
l.reverse()
l

['lol', 900, 67.3, 'hello', 2, 2, 3]

In [39]:
l1=[1,2,3]
l2=l1
print(id(l1))
print(id(l2))
l2.append(4)
print(l1)
print(l2)
l3=l2.copy()
print(id(l3))
print(id(l2))

2400788343232
2400788343232
[1, 2, 3, 4]
[1, 2, 3, 4]
2400788343168
2400788343232

In [48]:
# slice
l=[1,2,3,4,5,6,7,8,9]
print(l1[1:4])
print(l1[:4])
print(l1[3:])
print(l[::2])
print(l[::-2])

[2, 3, 4]
[1, 2, 3, 4]
[4]
[1, 3, 5, 7, 9]
[9, 7, 5, 3, 1]

In [ ]:
s1=[45,54,19,21]
s2=[47,84,39,91]
s3=[85,44,49,41]
s=[s1,s2,s3]
for x in s:
    for y in x:
        if y<35:
            print(x,y)

[45, 54, 19, 21] 19
[45, 54, 19, 21] 21

In [52]:
l=[x for x in range(10)]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# packing and unpacking
l=["Lakshay",22,91,92,93,94,95,633] #packing
name,age,*marks,dob=l               #unpacking=> * will autoadjust just to allot all variables 1 value and rest to marks in order
print(name,age,marks,dob)

ValueError: not enough values to unpack (expected at least 3, got 2)

In [61]:
l = [1, 1, 2, 2, 3, 45, 45, 5, 5, 5, 4, 8, 7, 9]
u = []
for i in l:
    if i not in u:
        u.append(i)

print(u)

[1, 2, 3, 45, 5, 4, 8, 7, 9]

In [64]:
# TUPLE
t1=(1,2,3,[1,2,4])
# t1[1]=4       no no no
t1[3][2]=3      #yes
t1

(1, 2, 3, [1, 2, 3])

In [65]:
# DICTIONARY 
d={'Name':"Laky",'Age':22,'Name':'Lakshay'}     # values can be duplicate ... if key is duplicate then 
d

{'Name': 'Lakshay', 'Age': 22}

In [82]:
keys=['name','age','place']
val=['Lakshay',22,'Roorkee']
d2 = {}.fromkeys(keys)
d2

{'name': None, 'age': None, 'place': None}

In [93]:
for i in range(len(keys)):  
    d2[keys[i]] = val[i]

print(d2)
d3=dict(zip(keys,val))
d3

{'name': 'Lakshay', 'age': 22, 'place': 'Roorkee'}

{'name': 'Lakshay', 'age': 22, 'place': 'Roorkee'}

In [86]:
d={'a':10,'b':20,'c':30}
d1={k:v*2 for(k,v) in d.items()}
d1

{'a': 20, 'b': 40, 'c': 60}

In [90]:
d={k:k*2 for k in range(11)}
d

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20}

In [94]:
d1={'Name':'A','No.':1,'Skills':['c','c++']}
d2={'Name':'B','No.':2,'Skills':['c','python']}
d3={'Name':'C','No.':3,'Skills':['java','python']}
keys=["d1",'d2','d3']
val=[d1,d2,d3]
d=dict(zip(keys,val))
d

{'d1': {'Name': 'A', 'No.': 1, 'Skills': ['c', 'c++']},
 'd2': {'Name': 'B', 'No.': 2, 'Skills': ['c', 'python']},
 'd3': {'Name': 'C', 'No.': 3, 'Skills': ['java', 'python']}}

In [100]:
for k,v in d.items():
    if 'python' in v['Skills']:
        print(k)

d2
d3

In [102]:
# SET
s={}
print(type(s))
s={2}
print(type(s))

<class 'dict'>
<class 'set'>

In [103]:
s1={1,2,3,4}
s2={2,4,6,8}
print(s1.intersection(s2))

{2, 4}

In [ ]:
a=1
if a==1:
    a=2
elif a==2:
    a=3
a